@model IEnumerable<GroceryList.Models.Grocery>

<div class="list">
    <table id="myTable" class="table" data-toggle="table" data-sort-order="desc">
        <thead>
            <tr>
                <th data-field="market" data-sortable="true">Market</th>
                <th data-field="item" data-sortable="true">Item</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                using (Html.BeginForm("Delete", "Home", new { id = item.Id }))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(x => item.Market)
                        </td>
                        <td>
                            @Html.DisplayFor(x => item.Item)
                        </td>
                        <td>
                            <button type="submit">
                                <span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
