@model IEnumerable<GroceryList.Models.Grocery>

<div class="list">
    <table>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(x => item.Store)
            </td>
            <td>
                @Html.DisplayFor(x => item.Item)
            </td>
            <td>
                <a href="#" class="btn btn-sm">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        }
    </table>
</div>
