@model GroceryList.Models.Grocery

@{ 
    Layout = null;
}

<html>
<head>
    <link href="~/Content/Site.css?version=2" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <title>Grocery List</title>
</head>
<body>
    <div class="container">
        <div class="addItem">
            @using (Html.BeginForm("SaveRecord", "Home", FormMethod.Post))
            {
                <div>@Html.ValidationSummary()</div>
                <div>
                    @Html.DropDownListFor(x => x.Store, new[]
               {
                   new SelectListItem() { Text = "99 Ranch"},
                   new SelectListItem() { Text = "Costco"},
                   new SelectListItem() { Text = "H Mart"},
                   new SelectListItem() { Text = "Mitsuwa"},
                   new SelectListItem() { Text = "Ralphs"},
                   new SelectListItem() { Text = "Trader Joe's"},
                   new SelectListItem() { Text = "Other"}

               }, "-- Select Store --", new { @class = "form-control"})
                </div>
                <div>
                    @Html.TextBoxFor(x => x.Item, new { @class = "form-control", @placeholder = "Item" })
                </div>
                <input type="submit" value="ADD" class="btn btn-block" />
            }
        </div>
        @Html.Action("LoadGroceryList")            
    </div>
    
</body>
</html>


@* TO DO
    1.  set up db - x
    2.  save to db - x
    3.  css
    4.  delete
    5.  render list in view - x
    6.  validation summary
    7.  ajax forms?
    8.  no duplicate item
    
    
    *@