@model GroceryList.Models.Grocery


@{ 
    Layout = null;
}

<html>
<head>
    <link href="~/Content/Site.css?version=1" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>Grocery List</title>
</head>
<body>
    <div class="container">
        <div class="addItem">
            @using (Html.BeginForm("SaveRecord", "Home", FormMethod.Post))
            {
                <div>@Html.ValidationSummary()</div>
                <div>
                    @Html.DropDownListFor(x => x.Store, new[]
               {
                   new SelectListItem() { Text = "99 Ranch"},
                   new SelectListItem() { Text = "Costco"},
                   new SelectListItem() { Text = "H Mart"},
                   new SelectListItem() { Text = "Mitsuwa"},
                   new SelectListItem() { Text = "Ralphs"},
                   new SelectListItem() { Text = "Trader Joe's"},
                   new SelectListItem() { Text = "Other"}

               }, "Select Store", new { @class = "form-control"})
                </div>
                <div>
                    @Html.TextBoxFor(x => x.Item, new { @class = "form-control", @placeholder = "Item" })
                </div>
                <input type="submit" value="Add" class="btn btn-block" />
            }
        </div>
        @Html.Action("LoadGroceriesList")            
    </div>
    
</body>
</html>


@* TO DO
    1.  set up db
    2.  save to db
    3.  css
    4.  delete
    5.  render list in view
    6.  validation summary
    7.  ajax forms?
    
    
    *@