button {
    background: transparent;
    border: 0;
    outline: none;
    width: 80%;
}

td, th{
    width: 10em;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.container {
    width: 60%;
    background-color: #efefef;
    padding-top: 2em;
    padding-bottom: 2em;
    height: 100%;
    text-align:center;
}

.addItem {
    margin: auto;
    width: 75%;
}

.list{
    margin: auto;
    width: 75%;
}

.input-validation-error {
    border: .1em solid #cc0000;
}

.validation-summary-errors{
    color: #cc0000;
}
.fixed-table-container{
    border: 0;
}
